@import '../App.scss';

.projects-title {
  text-align: center;
  border-radius: 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 98%;
  justify-content: space-around;
}