@import "~bootstrap/scss/bootstrap";

$primary: #9390ff;
$secundary: #e5e5e5;
$font: 'Cairo', sans-serif;

header {
  width: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.6), rgba(25, 25, 25, 0.8)), url('images/kai-pilger-Ef6iL87-vOA-unsplash.jpg');
  //repeat fixed center;
  background-size: auto 100%;
  width: 100%;
  //min-height: calc(100vh - [header-height]px - [footer-height]px);
}

h1 {
  color: $primary;
  text-align: center;
  font: normal normal 700 2rem $font;

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

h2 {
  color: $primary;
  text-align: left;
  font: normal normal 700 2rem $font;

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

h3 {
  color: $primary;
  text-align: center;
  font: normal normal 700 1.5rem $font;

  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

h4 {
  color: $secundary;
  text-align: center;
  font: normal normal 500 1.5rem $font;

  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

a {
  color: $secundary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

p,
li {
  color: $secundary;
  font: normal normal 400 1.2rem/1.5rem $font;

  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }
}

.circle-1 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 69px;
  top: 137px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(50px);
  animation: shine 4s ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.circle-2 {
  @media (min-width: 1024px) {
    position: absolute;
    width: 226px;
    height: 226px;
    left: 75%;
    top: 346px;
    background: #edecff;
    border-radius: 50%;
    filter: blur(50px);
    animation: shine 4s ease-in;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
}

.spiral-1 {
  position: absolute;
  width: 57.53px;
  height: 700.92px;
  right: -232px;
  top: 79.12px;
  background: #edecff;
  filter: blur(50px);
  transform: rotate(-36.38deg);
}

@keyframes shine {
  0% {
    filter: blur(36px);
  }

  50% {
    filter: blur(50px);
  }

  100% {
    filter: blur(36px);
  }
}

.card {
  background-color: rgba(0, 0, 0, 0.5);//rgba(0, 140, 255, 0.1);
  border-radius: 2%;
}

.card-title {
  color: $primary;
}

.card-text {
  color: $secundary;
}
